<app-detalle-event *ngIf="eventSeleccionado" [evento]="eventSeleccionado"></app-detalle-event>
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Tabla</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Eventos</a></li>
            </ol>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tabla eventos</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered verticle-middle table-responsive-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Lugar</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let evento of events">
                                    <td>{{evento.name}}</td>
                                    <td>
                                        {{evento.date}}
                                    </td>
                                    <td>{{evento.place}}</td>
                                    <td><span class="badge badge-danger light">{{evento.status}}</span>
                                    </td>
                                    <td>
                                        <span>
                                            <a [routerLink]="['/admin/event/edit', evento.id]" class="me-4" data-bs-toggle="tooltip"
                                                data-placement="top" title="Edit"><i
                                                    class="fas fa-pencil-alt color-muted"></i> </a>
                                            <a  (click)="delete(evento)" data-bs-toggle="tooltip" data-placement="top"
                                                title="btn-close"><i class="fas fa-times color-danger mr-2"></i></a>

                                                <img *ngIf="evento?.image" src="http://localhost:8080/api/upload/img/{{evento.image}}" (click)="abrirModal(evento)"  style="cursor: pointer;"
                                                class="card-img-top m-4" alt="No Image">
                                                <img *ngIf="!evento?.image"  (click)="abrirModal(evento)"  style="cursor: pointer;"
                                                class="card-img-top m-4" alt="No Image">

                                            
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
