
<app-header></app-header>
<div class="edu2_main_bn_wrap">
    <div id="owl-demo-main" >
        <div class="item">
    
                <img src="assets/extra-images/slider1.jpg" alt=""/>
        
        </div>
        <div class="item">
    
                <img src="assets/extra-images/slider2.jpg" alt=""/>
          
        </div>
        <div class="item">
         
                <img src="assets/extra-images/slider3.jpg" alt=""/>
          
        </div>
    </div>
</div>




<div class="kf_content_wrap">
    <!--COURSE OUTER WRAP START-->
    <div class="kf_course_outerwrap">
        <div class="container">

            <div class="row">
            
                <div class="col-md-12">
                    <div class="row">
                        <!--COURSE CATEGORIES WRAP START-->
                        <div class="kf_cur_catg_wrap">

                            <div class="col-md-12">
                                <div class="kf_edu2_heading1">
                                    <h3>CURSOS DICTADOS</h3>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="kf_cur_catg_des color-1">
                                    <span><i class="fa fa-camera-retro  " style="color: #0eb053;" ></i></span>
                                    <div class="kf_cur_catg_capstion">
                                        <h5>ARTE Y CULTURA</h5>
                                        <p>Fomenta la apreciación del arte y la cultura como formas de enriquecimiento personal y cultural.</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="kf_cur_catg_des color-2">
                                    <span><i class="icon-chemistry29"></i></span>
                                    <div class="kf_cur_catg_capstion">
                                        <h5>CIENCIA Y TECNOLOGÍA</h5>
                                        <p>Se enfoca en la comprensión de los avances científicos y tecnológicos, así como sus indicaciones éticas y sociales </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 1-->

                            <div class="col-md-6">
                                <div class="kf_cur_catg_des color-3">
                                    <span><i class="icon-caduceus8"></i></span>
                                    <div class="kf_cur_catg_capstion">
                                        <h5>CIENCIAS SOCIALES</h5>
                                        <p>Los estudiantes exploran temas en áreas como la historia, la geografía, la economía, la sociología, la política y la antropología. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="kf_cur_catg_des color-3">
                                    <span>
                                        <mat-icon style=" width: 46.25px; height: 46px;"> menu_book</mat-icon>
                                    </span>
                                    <div class="kf_cur_catg_capstion">
                                        <h5>COMUNICACIÓN</h5>
                                        <p>Es un estudio de los procesos de comunicación y su impacto en la sociedad.</p>
                                    </div>
                                </div>
                            </div>
                          
                            
                              <!-- 2-->

                            <div class="col-md-6">
                                <div class="kf_cur_catg_des color-4">
                                    <span>  <mat-icon style=" width: 46.25px; height: 46px;"> perm_contact_calendar </mat-icon> </span>
                                    <div class="kf_cur_catg_capstion">
                                        <h5>DESAROLLO PERSONAL, CIUDADANIA Y CIVICA</h5>
                                        <p>Se enfoca en el desarrollo de habilidades sociales y emocionales, la toma de decisiones y el liderazgo.</p>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-md-6">
                                <div class="kf_cur_catg_des color-6">
                                    <span>  <mat-icon style=" width: 46.25px; height: 46px;"> sports_handball </mat-icon> </span>
                                    <div class="kf_cur_catg_capstion">
                                        <h5>EDUCACIÓN FÍSICA</h5>
                                        <p>Se enfoca en desarrollar habilidades motoras, mejorar la coordinación, la fuerza y ​​la resistencia física, así como en la promoción de hábitos saludables a largo plazo. </p>
                                    </div>
                                </div>
                            </div>
                             <!-- 3-->
                            
                            <div id="collapseExample" class="collapse">
                                <div class="card card-body">
                                    <div class="col-md-6">
                                        <div class="kf_cur_catg_des color-1">
                                            <span>  <mat-icon style=" width: 46.25px; height: 46px;"> computer </mat-icon> </span>

                                            <div class="kf_cur_catg_capstion">
                                                <h5>EDUCACIÓN PARA EL TRABAJO</h5>
                                                <p>Se enfoca en habilidades laborales esenciales,comunicación efectiva y la resolución de problemas y el pensamiento crítico.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="kf_cur_catg_des color-2">
                                            <span>  <mat-icon style=" width: 46.25px; height: 46px;"> auto_stories </mat-icon> </span>
                                            <div class="kf_cur_catg_capstion">
                                                <h5>EDUCACIÓN RELIGIOSA</h5>
                                                <p>Se enfoca en el desarrollo de la conciencia religiosa y la comprension de la diversidad religiosa y cultural. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 4-->
        
                                    <div class="col-md-6">
                                        <div class="kf_cur_catg_des color-3">
                                            <span>  <mat-icon style=" width: 46.25px; height: 46px;"> translate </mat-icon> </span>
                                            <div class="kf_cur_catg_capstion">
                                                <h5>INGLÉS</h5>
                                                <p>Se enfoca en el desarrollo de habilidades comunicativas con fluidez y precisión, y la comprensión de textos en inglés. </p>
                                            </div>
                                        </div>
                                    </div>
                                    
        
                                    <div class="col-md-6">
                                        <div class="kf_cur_catg_des color-4">
                                            <span>  <mat-icon style=" width: 46.25px; height: 46px;"> calculate </mat-icon> </span>

                                            <div class="kf_cur_catg_capstion">
                                                <h5>MATEMÁTICA</h5>
                                                <p>Se enfoca en el desarrollo de habilidades matemáticas esenciales razonamiento lógico y resolución de problemas.  </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 5-->
        
                                    <div class="col-md-6">
                                        <div class="kf_cur_catg_des color-5">
                                            <span>  <mat-icon style=" width: 46.25px; height: 46px;"> sports_kabaddi </mat-icon> </span>
                                            <div class="kf_cur_catg_capstion">
                                                <h5>PERSONAL SOCIAL</h5>
                                                <p>Se enfoca en el desarrollo de habilidades sociales y emocionales esenciales, como la autoestima, la autoconfianza, la toma de decisiones y la resiliencia.  </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="kf_cur_catg_des color-6">
                                            <span>  <mat-icon style=" width: 46.25px; height: 46px;"> psychology </mat-icon> </span>
                                            <div class="kf_cur_catg_capstion">
                                                <h5>PSICOMOTRICIDAD</h5>
                                                <p>Se enfoca en la comprensión de la relación entre el movimiento y el desarrollo cerebral, así como en la importancia del juego y la actividad física  </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 6-->	
                                </div>
                            </div>
                            <p><a class="btn btn-3" data-toggle="collapse" href="#collapseExample" (click)="cambiarTexto()">{{textoi}} </a> </p>

                        </div>
                        <!--COURSE CATEGORIES WRAP END-->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--COURSE OUTER WRAP END-->
    <!--KF INTRO WRAP START-->
    <section class="kf_edu2_intro_wrap">
        <div class="kf_intro_des_wrap">
            <!-- HEADING 2 START-->
            <div class="col-md-12">
                <div class="kf_edu2_heading2">
                    <h3>BIENVENIDO A NUESTRA INSTITUCIÓN</h3>
                </div>
            </div>
            <!-- HEADING 2 END-->
            <!-- INTERO DES START-->
            <div class="kf_intro_des">
                <div class="kf_intro_des_caption">
                     <span><i class=" icon-earth132 "></i></span>
                    <h6>EDUCACIÓN 3.0</h6>
                    <p>Aprendizaje personalizado, colaborativo y en red, donde los estudiantes son los protagonistas de su propio proceso de aprendizaje. </p> 
                    <hr>
                    <hr>
                </div>
                <figure>
                    <img src="assets/extra-images/intro-1.jpg" alt=""/>
                    <figcaption><a>EDUCACIÓN 3.0</a></figcaption>
                </figure>
            </div>
            <!-- INTERO DES END-->
            <!-- INTERO DES START-->
            <div class="kf_intro_des">
                <div class="kf_intro_des_caption">
                    <span><i class=" icon-educational18"></i></span>
                    <h6>DESING THINKING</h6>
                    <p>Descubrimiento, interpretación, ideación, experimentación y evolución.El desafío debe ser abordable, comprensible y realizable.</p>
                    <hr>
                    <hr>
                </div>
                <figure>
                    <img src="assets/extra-images/intro-2.jpg" alt=""/>
                    <figcaption><a>DESING THINKING</a></figcaption>
                </figure>
            </div>
            <!-- INTERO DES END-->

            <!-- INTERO DES START-->
            <div class="kf_intro_des">
                <div class="kf_intro_des_caption">
                    <span><i class="icon-teacher4"></i></span>
                    <h6>MÉTODO SINGAPUR</h6>
                    <p>Metodología centrada en el aprendizaje de las matemáticas que busca cambiar la forma de enseñar tradicional por un nuevo método</p>
                    <hr>
            
                </div>
                <figure>
                    <img src="assets/extra-images/intro-3.jpg" alt=""/>
                    <figcaption><a>MÉTODO SINGAPUR</a></figcaption>
                </figure>
            </div>
            <!-- INTERO DES END-->
        </div>
    </section>
    <!--KF INTRO WRAP END-->

    <!--GALLERY SECTION START-->
    <section class="kode-gallery-section">
        <!-- HEADING 2 START-->
        <div class="col-md-12">
            <div class="kf_edu2_heading2">
                <h3>NUESTRA GALERIA</h3>
                <p>GALERIA DE ESTUDIANTES</p>
            </div>
        </div>
        <!-- HEADING 2 END-->
        <!-- EDU2 GALLERY WRAP START-->
        <div class="edu2_gallery_wrap gallery">
           
            <!-- EDU2 GALLERY DES START-->
            <div class="gallery3">
            
                <div class="filterable-item all 2 1 9 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="assets/extra-images/home-gallery1.jpg">
                            <figcaption>
                                <a href="https://www.facebook.com/photo/?fbid=1824190304662755&set=pcb.1824191777995941"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                            </figcaption>
                        </figure>
                    </div>	
                </div>
                <div class="filterable-item all 3 2 1 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="assets/extra-images/home-gallery2.jpg">
                            <figcaption>
                                <a href="https://www.facebook.com/photo/?fbid=1818886678526451&set=pcb.1818889018526217"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                            </figcaption>
                        </figure>
                    </div>	
                </div>
                <div class="filterable-item all 4 2 9 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="assets/extra-images/home-gallery3.jpg">
                            <figcaption>
                                <a href="https://www.facebook.com/photo/?fbid=1816841135397672&set=pcb.1816843572064095"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                            </figcaption>
                        </figure>
                    </div>	
                </div>
                <div class="filterable-item all 9 8 7 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="assets/extra-images/home-gallery4.jpg">
                            <figcaption>
                                <a href="https://www.facebook.com/photo/?fbid=1812186525863133&set=pcb.1812165742531878"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                            </figcaption>
                        </figure>
                    </div>	
                </div>
                <div class="filterable-item all 3 2 4 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="assets/extra-images/home-gallery5.jpg">
                            <figcaption>
                                <a href="https://www.facebook.com/photo/?fbid=1812186525863133&set=pcb.1812165742531878"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                            </figcaption>
                        </figure>
                    </div>	
                </div>
                <div class="filterable-item all 4 5 7 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="assets/extra-images/home-gallery6.jpg">
                            <figcaption>
                                <a href="https://www.facebook.com/photo?fbid=1801238463624606&set=a.104860146595788"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                            </figcaption>
                        </figure>
                    </div>	
                </div>
                <div class="filterable-item all 3 5 7 9 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="assets/extra-images/home-gallery7.jpg">
                            <figcaption>
                                <a data-rel="prettyPhoto[gallery2]" href="assets/extra-images/home-gallery7.jpg"><i class="fa fa-eye"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                            </figcaption>
                        </figure>
                    </div>	
                </div>
                <div class="filterable-item all 2 4 6 8 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="assets/extra-images/home-gallery8.jpg">
                            <figcaption>
                                <a data-rel="prettyPhoto[gallery2]" href="assets/extra-images/home-gallery8.jpg"><i class="fa fa-eye"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                            </figcaption>
                        </figure>
                    </div>	
                </div>
            </div>
            
        <!-- EDU2 GALLERY WRAP END-->
        </div>
        <div class="loadmore">
                <a href="#" class="btn-3">Load More</a>
            </div>
    </section>
    <!--GALLERY SECTION END-->

    <!--COUNTER SECTION START-->
    <section class="edu2_counter_wrap">
        <div class="container">
            <!--EDU2 COUNTER DES START-->
            <div class="edu2_counter_des">
                <span><i class="icon-group2"></i></span>
                <h3 class="counter">4,985</h3>
                <h5>SEGUIDORES DE FACEBOOK</h5>
            </div>
            <!--EDU2 COUNTER DES END-->
            <!--EDU2 COUNTER DES START-->
            <div class="edu2_counter_des">
                <span><i class="icon-book236"></i></span>
                <h3 class="counter">14</h3>
                <h5>CURSOS COMPLETOS</h5>
            </div>
            <!--EDU2 COUNTER DES END-->
            <!--EDU2 COUNTER DES START-->
            <div class="edu2_counter_des">
                <span><i class="icon-win5"></i></span>
                <h3 class="counter">330</h3>
                <h5>ALUMNOS MATRICULADOS</h5>
            </div>
            <!--EDU2 COUNTER DES END-->
            <!--EDU2 COUNTER DES START-->
            <div class="edu2_counter_des">
                <span><i class=" icon-user255"></i></span>
                <h3 class="counter">27</h3>
                <h5>DOCENTES CERTIFICADOS</h5>
            </div>
            <!--EDU2 COUNTER DES END-->
        </div>
    </section>
    <!--COUNTER SECTION END-->

    <!-- LATEST NEWS AND EVENT WRAP START-->
    <section class="edu2_new_wrap">
        <div class="container">
            <!-- HEADING 2 START-->
            <div class="col-md-12">
                <div class="kf_edu2_heading2">
                    <h3>Latest News &amp; Event</h3>
                </div>
            </div>
            <!-- HEADING 2 END-->
            <div class="row">
                <!-- EDU2 NEW DES START-->
                <div class="col-md-6">
                    <div class="edu2_new_des">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="edu2_event_des">
                                    <h4>Dec</h4>
                                    <p>Lorem Lipsum Proin Gravide Nibh Vel Velit</p>
                                    <ul class="post-option">
                                         <li>By<a href="#">Admin</a></li>
                                         <li>03/12/2015</li>
                                         <li><a href="#">21 Comments</a></li>
                                    </ul>
                                    <a href="#" class="readmore">read more<i class="fa fa-long-arrow-right"></i></a>
                                    <span>24</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 thumb">
                                <figure><img src="assets/extra-images/news1.jpg" alt=""/>
                                    <figcaption><a href="blog-detail.html"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- EDU2 NEW DES END-->

                <!-- EDU2 NEW DES START-->
                <div class="col-md-6">
                    <div class="edu2_new_des">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 thumb">
                                <figure><img src="assets/extra-images/news2.jpg" alt=""/>
                                    <figcaption><a href="blog-detail.html"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="edu2_event_des text-right">
                                    <h4>Dec</h4>
                                    <p>Lorem Lipsum Proin Gravide Nibh Vel Velit</p>
                                    <ul class="post-option">
                                         <li>By<a href="#">Admin</a></li>
                                         <li>03/12/2015</li>
                                         <li><a href="#">21 Comments</a></li>
                                    </ul>
                                    <a href="#" class="readmore">read more<i class="fa fa-long-arrow-right"></i></a>
                                    <span>03</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- EDU2 NEW DES END-->

                <!-- EDU2 NEW DES START-->
                <div class="col-md-6">
                    <div class="edu2_new_des">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="edu2_event_des">
                                    <h4>Dec</h4>
                                    <p>Lorem Lipsum Proin Gravide Nibh Vel Velit</p>
                                    <ul class="post-option">
                                         <li>By<a href="#">Admin</a></li>
                                         <li>03/12/2015</li>
                                         <li><a href="#">21 Comments</a></li>
                                    </ul>
                                    <a href="#" class="readmore">read more<i class="fa fa-long-arrow-right"></i></a>
                                    <span>31</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 thumb">
                                <figure><img src="assets/extra-images/news3.jpg" alt=""/>
                                    <figcaption><a href="blog-detail.html"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- EDU2 NEW DES END-->

                <!-- EDU2 NEW DES START-->
                <div class="col-md-6">
                    <div class="edu2_new_des">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 thumb">
                                <figure><img src="assets/extra-images/news4.jpg" alt=""/>
                                    <figcaption><a href="blog-detail.html"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="edu2_event_des text-right">
                                    <h4>Dec</h4>
                                    <p>Lorem Lipsum Proin Gravide Nibh Vel Velit</p>
                                    <ul class="post-option">
                                         <li>By<a href="#">Admin</a></li>
                                         <li>03/12/2015</li>
                                         <li><a href="#">21 Comments</a></li>
                                    </ul>
                                    <a href="#" class="readmore">read more<i class="fa fa-long-arrow-right"></i></a>
                                    <span>11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- EDU2 NEW DES END-->
            </div>
        </div>
    </section>
    <!-- LATEST NEWS AND EVENT WRAP END-->


    <!--TRAINING WRAP START-->
    <section class="edu2_tarining_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="kf_edu2_training_des">
                        <figure>
                            <img src="assets/extra-images/training-thumb.png" alt=""/>
                        </figure>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="edu2_training_wrap">
                        <h2>Get The Coaching Training</h2>
                        <h3>By Simon Jones almost Free</h3>
                        <!--COUNTDOWN START-->
                        <ul class="countdown">
                            <li>
                                <span class="days">195</span>
                                <p class="days_ref">days</p>
                            </li>
                            <li>
                                <span class="hours">20</span>
                                <p class="hours_ref">hours</p>
                            </li>
                            <li>
                                <span class="minutes">34</span>
                                <p class="minutes_ref">minutes</p>
                            </li>
                            <li>
                                <span class="seconds last">17</span>
                                <p class="seconds_ref">seconds</p>
                            </li>
                        </ul>
                        <!--COUNTDOWN END-->
                        <strong>It’s limited Seating! Hurry up</strong>
                        <a href="#" class="btn-1">REGISTER NOW</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--TRAINING WRAP END-->


    <!--OUR TESTEMONIAL WRAP START-->
    <section>
        <div class="container">
            <div class="row">
                <!-- HEADING 2 START-->
                <div class="col-md-12">
                    <div class="kf_edu2_heading2">
                        <h3>NUESTROS TESTIMONIOS</h3>
                    </div>
                </div>
                <!-- HEADING 2 END-->
                <!-- TESTEMONIAL SLIDER WRAP START-->
                <article class="edu2_testemonial_slider_wrap">
                    <article id="owl-demo-9">

                        <!-- TESTEMONIAL SLIDER WRAP START-->
                        <div class="edu_testemonial_wrap">
                            <figure><img src="assets/extra-images/testemonial.1.jpg" alt=""/></figure>
                            <div class="kode-text">
                                <p>Al inicio fue muy difícil acomodarse a las clases virtuales, debido a la interacción con los maestros y compañeros se vería seriamente afectada. Si bien hubo muchos obstáculos, con el pasar de las semanas, nos acostumbramos a esa nueva normalidad.</p>
                                <a>John Doe<span>- Happy Student</span></a>
                            </div>
                        </div>
                        <!-- TESTEMONIAL SLIDER WRAP END-->
        
                        <!-- TESTEMONIAL SLIDER WRAP START-->
                        <div class="edu_testemonial_wrap">
                            <figure><img src="assets/extra-images/testemonial.2.jpg" alt=""/></figure>
                            <div class="kode-text">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.aenean sollicitudin, lorem quis bibendum auctor...</p>
                                <a href="#">John Doe<span>- Happy Student</span></a>
                            </div>
                        </div>
                        <!-- TESTEMONIAL SLIDER WRAP END-->

                        <!-- TESTEMONIAL SLIDER WRAP START-->
                        <div class="edu_testemonial_wrap">
                            <figure><img src="assets/extra-images/testemonial.1.jpg" alt=""/></figure>
                            <div class="kode-text">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.aenean sollicitudin, lorem quis bibendum auctor...</p>
                                <a href="#">John Doe<span>- Happy Student</span></a>
                            </div>
                        </div>
                        <!-- TESTEMONIAL SLIDER WRAP END-->
                
                        <!-- TESTEMONIAL SLIDER WRAP START-->
                        <div class="edu_testemonial_wrap">
                            <figure><img src="assets/extra-images/testemonial.2.jpg" alt=""/></figure>
                            <div class="kode-text">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.aenean sollicitudin, lorem quis bibendum auctor...</p>
                                <a href="#">John Doe<span>- Happy Student</span></a>
                            </div>
                        </div>
                        <!-- TESTEMONIAL SLIDER WRAP END-->

                        <!-- TESTEMONIAL SLIDER WRAP START-->
                        <div class="edu_testemonial_wrap">
                            <figure><img src="assets/extra-images/testemonial.1.jpg" alt=""/></figure>
                            <div class="kode-text">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.aenean sollicitudin, lorem quis bibendum auctor...</p>
                                <a href="#">John Doe<span>- Happy Student</span></a>
                            </div>
                        </div>
                        <!-- TESTEMONIAL SLIDER WRAP END-->
                
                        <!-- TESTEMONIAL SLIDER WRAP START-->
                        <div class="edu_testemonial_wrap">
                            <figure><img src="assets/extra-images/testemonial.2.jpg" alt=""/></figure>
                            <div class="kode-text">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.aenean sollicitudin, lorem quis bibendum auctor...</p>
                                <a href="#">John Doe<span>- Happy Student</span></a>
                            </div>
                        </div>
                        <!-- TESTEMONIAL SLIDER WRAP END-->
                    </article>
                </article>
                <!-- TESTEMONIAL SLIDER WRAP END-->
            </div>
        </div>
    </section>
    <!--OUR TESTEMONIAL WRAP END-->
</div>

<app-footer></app-footer>


