
<footer>
    <!--EDU2 FOOTER CONTANT WRAP START-->
        <div class="container">
            <div class="row">
                <!--INFORMACION-->
                <div class="col-md-3">
                    <div class="widget widget-links">
                        <h5>INFORMACIÓN</h5>
                        <ul>
                            <li>IR A: <a href="https://www.google.com/maps/@-7.8119862,-78.0480583,21z?hl=es-419">Jr. Luna #320</a></li>
                            <li>LLAMAR: <a href="tel:  + 51 910533083">948 770 253</a></li>
                        </ul>
                    </div>
                </div>
                <!--REDES SOCIALES-->
                <div class="col-md-3">
                    <div class="widget widget-links">
                        <h5>REDES SOCIALES</h5>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100012154083647">I.E.P. ALBERTO RUBENS ALTUNA SOLÓROZANO "ARAS"</a></li>
                            <li><a href="">@arashuamachuco</a></li>
                        </ul>
                    </div>
                </div>
                <!--EDU2 FOOTER CONTANT DES END-->

                <!--EDU2 FOOTER CONTANT DES START-->
                <div class="col-md-3">
                    <div class="widget wiget-instagram">
                        <h5>Instagram</h5>
                        <ul>
                            <li><a href="#"><img src="assets/extra-images/instagram-1.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/extra-images/instagram-2.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/extra-images/instagram-3.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/extra-images/instagram-4.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/extra-images/instagram-5.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/extra-images/instagram-6.jpg" alt=""/></a></li>
                        </ul>
                    </div>
                </div>
                <!--EDU2 FOOTER CONTANT DES END-->

                <!--EDU2 FOOTER CONTANT DES START-->
                <div class="col-md-3">
                    <div class="widget widget-contact">
                        <h5>CONTACTANOS</h5>
                        <ul>
                            <li>Whatsapp    : <a href="https://api.whatsapp.com/message/ENILAO52INXJG1?autoload=1&app_absent=0">+51 948 770 253 </a></li>
                            <li>Correo      : <a href="mailto://i.e.p.aras@gmail.com ">i.e.p.aras@gmail.com </a></li>
                        </ul>
                    </div>
                </div>
                <!--EDU2 FOOTER CONTANT DES END-->
            </div>
        </div>
</footer>
<div class="edu2_copyright_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="edu2_ft_logo_wrap">
                    <a href="#"><img src="assets/extra-images/ft_logo.png" alt=""/></a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="copyright_des">
                    <span>&copy; TODOS LOS DERECHOS RESERVADOS ARAS <H6>DESARROLLO POR ENCYLQ</H6></span>
                </div>
            </div>

        </div>
    </div>
</div>
