<div class="modal fade" id="reg-box" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-content">
            <!--SIGNIN AS USER START-->
            <div class="user-box">
                <h2>Sign up as a User</h2>
                <!--FORM FIELD START-->
                <div class="form">
                    <div class="input-container">
                        <input type="text" placeholder="Name">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="input-container">
                        <input type="text" placeholder="E-mail">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="input-container">
                        <input type="password" placeholder="Password">
                        <i class="fa fa-unlock"></i>
                    </div>
                    <div class="input-container">
                        <label>
                            <span class="radio">
                                <input type="checkbox" name="foo" value="1" checked>
                                <span class="radio-value" aria-hidden="true"></span>
                            </span>
                            <span>Remember me</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <button class="btn-style">Sign Up</button>
                    </div>
                </div>
                <!--FORM FIELD END-->
                <!--OPTION START-->
                <!--<div class="option">
                    <h5>Or Using</h5>
                </div>-->
                <!--OPTION END-->
                <!--OPTION START-->
                <!--<div class="social-login">
                    <a href="#" class="google"><i class="fa fa-google-plus"></i>Google Account</a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i>Facebook Account</a>
                </div>-->
                <!--OPTION END--> 
            </div>
            <!--SIGNIN AS USER END-->
            <div class="user-box-footer">
             <a href="#">Iniciar Sesión</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="modal fade" id="signin-box" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-content">
            <div class="user-box">
                <h2>Iniciar Sesión</h2>
                <!--FORM FIELD START-->
                <div class="form">
                    <div class="input-container">
                        <input type="text" placeholder="E-mail">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="input-container">
                        <input type="password" placeholder="Password">
                        <i class="fa fa-unlock"></i>
                    </div>
                    <div class="input-container">
                        <label>
                            <span class="radio">
                                <input type="checkbox" name="foo" value="1" checked>
                                <span class="radio-value" aria-hidden="true"></span>
                            </span>
                            <span>Recuérdame</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <button class="btn-style">Iniciar Sesión</button>
                    </div>
                </div>
                <!--FORM FIELD END-->
                <!--OPTION START
                <div class="option">
                    <h5>Or Using</h5>
                </div>-->
                <!--OPTION END-->
                <!--OPTION START
                <div class="social-login">
                    <a href="#" class="google"><i class="fa fa-google-plus"></i>Google Account</a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i>Facebook Account</a>
                </div>-->
                
            
            </div>
            <!--OPTION END
            <div class="user-box-footer">
                <p>Don't have an account?<br><a href="#">Sign up as a User</a></p>
            </div>-->
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
    
<div id="sidr">
    <div class="logo_wrap">
        <a href="#"><img src="assets/extra-images/logo.png" alt=""></a>
    </div>
    <div class="clearfix clear"></div>
    <!-- Your content -->
    <div class="kf-sidebar">
        <!--KF_SIDEBAR_SEARCH_WRAP START-->
        <div class="widget widget-search">
            <h2>Buscar curso</h2>
            <form>
                <input type="search" placeholder="Keyword...">
            </form>
        </div>
        <!--KF_SIDEBAR_SEARCH_WRAP END-->

        <!--KF_SIDEBAR_ARCHIVE_WRAP START-->
        <div class="widget widget-archive ">
            <h2>Archivos</h2>
            <ul class="sidebar_archive_des">
                <li>
                    <a href=""><i class="fa fa-angle-right"></i>January 2016</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-angle-right"></i>February 2016</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-angle-right"></i>March 2016</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-angle-right"></i>April 2016</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-angle-right"></i>May 2016</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-angle-right"></i>June 2016</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-angle-right"></i>August 2016</a>
                </li>
            </ul>
        </div>
        <!--KF_SIDEBAR_ARCHIVE_WRAP END-->

        <p class="copy-right-sidr">Design and Developed by KodeForest @ All Rights Reserved by KodeForest</p>
    </div>
</div>

<header id="header_2">
    <!--kode top bar start-->
    <div class="top_bar_2">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="pull-left">
                        <em class="contct_2"><i class="fa fa-phone"></i> Llámenos al 948 770 253</em>
                    </div>
                </div>
                <div class="col-md-7">
                    <!--<div class="lng_wrap">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-globe"></i>Idioma
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#"><i><img src="assets/images/english.jpg" alt=""></i>English</a></li>
                                <li><a href="#"><i><img src="assets/images/german.jpg" alt=""></i>German</a></li> 
                            </ul>
                        </div>
                    </div>-->
                    <ul class="login_wrap">
                        <li><a href="#" data-toggle="modal" data-target="#reg-box"><i class="fa fa-user"></i>Registro</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#signin-box"><i class="fa fa-sign-in"></i>Inicia sesión</a></li>
                    </ul>	    					
                    <ul class="top_nav">
                        <li><a href="blog-detail.html">Noticia</a></li>
                        <li><a href="event-detail.html">Evento</a></li>
                        <li><a href="contactus.html">contáctenos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--kode top bar end-->
    
    <!--kode navigation start-->
    <div class="kode_navigation">
        <div id="mobile-header">
            <a id="responsive-menu-button" href="#sidr-main"><i class="fa fa-bars"></i></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo_wrap">
                        <a href="#"><img src="assets/extra-images/logo_2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-10">
                    <!--kode nav_2 start-->
                    <div class="nav_2" id="navigation">
                        <ul>
                            <li><a [routerLink]="['/']">Inicio</a></li>
                            <li><a [routerLink]="['/nosotros']" routerLinkActive="router-link-active" >Sobre nosotros</a></li>
                            <li><a [routerLink]="['/eventos']" >Event</a>
                                
                            </li>
                            <li><a [routerLink]="['/blog']">Blog</a></li>
                            <li><a [routerLink]="['/cursos']">Curso</a>
                                <ul>
                                    <li><a href="our-courses.html">Our Course</a></li>
                                    <li><a href="courses-list.html">Course List</a></li>
                                    <li><a href="courses-detail.html">Course Detail</a></li>
                                </ul>
                            </li>
                            <li><a [routerLink]="['/docentes']">Profesores</a>
                                <ul>
                                    <li><a href="our-teacher.html">Our Teacher</a></li>
                                    <li><a href="our-teacher-details.html">our teacher details</a></li>
                                </ul>
                            </li>
                            <!--<li><a href="#">Galeria</a>
                                <ul>
                                    <li><a href="gallery-masonary-2col.html">Masonary 2 Col </a></li>
                                    <li><a href="gallery-masonary.html">Masonary 3 Col </a></li>
                                    <li><a href="gallery-masonary-4col.html">Masonary 4 Col </a></li>
                                    <li><a href="filterable-gallery.html">Simple gallery</a></li>
                                </ul>
                            </li>-->
                            <!--<li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>-->
                            <li><a href="#">Contáctenos</a>
                                <ul>
                                    <li><a href="contactus.html">Contact Us 1</a></li>
                                    <li><a href="contactus-2.html">Contact Us 2</a></li>
                                </ul>
                            </li>
                            <li><a id="simple-menu" href="#sidr"><i class="fa fa-bars"></i></a></li>
                        </ul>
                        <!--DL Menu Start-->
                        <div id="kode-responsive-navigation" class="dl-menuwrapper">
                            <button class="dl-trigger">Open Menu</button>
                            <ul class="dl-menu">
                                <li><a href="index.html">home</a></li>
                                <li><a href="about-us.html">about us</a></li>
                                <li class="menu-item kode-parent-menu"><a href="#">Event</a>
                                    <ul class="dl-submenu">
                                       <li><a href="our-event.html">our Event</a></li>
                                        <li><a href="event-list.html">Event List</a></li>
                                        <li><a href="event-detail.html">Event Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">Blog</a>
                                    <ul class="dl-submenu">
                                        <li><a href="our-blog.html">our Blog</a></li>
                                        <li><a href="blog-2-column.html">blog 2 column</a></li>
                                        <li><a href="blog-3-column.html">blog 3 column</a></li>
                                        <li><a href="blog-left-sidebar.html">blog with left sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">blog with right sidebar</a></li>
                                        <li><a href="blog-detail.html">blog-detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">Course</a>
                                    <ul class="dl-submenu">
                                        <li><a href="our-courses.html">Our Course</a></li>
                                        <li><a href="courses-list.html">Course List</a></li>
                                        <li><a href="courses-detail.html">Course Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">Teacher</a>
                                    <ul class="dl-submenu">
                                        <li><a href="our-teacher.html">Our Teacher</a></li>
                                        <li><a href="our-teacher-details.html">our teacher details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">Gallery</a>
                                    <ul class="dl-submenu">
                                        <li><a href="gallery-masonary-2col.html">Masonary 2 Col </a></li>
                                        <li><a href="gallery-masonary.html">Masonary 3 Col </a></li>
                                        <li><a href="gallery-masonary-4col.html">Masonary 4 Col </a></li>
                                        <li><a href="filterable-gallery.html">Simple gallery</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">404 Page</a>
                                    <ul class="dl-submenu">
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="#">Contact US</a>
                                    <ul class="dl-submenu">
                                        <li><a href="contactus.html">Contact Us 1</a></li>
                                        <li><a href="contactus-2.html">Contact Us 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--DL Menu END-->
                    </div>
                    <!--kode nav_2 end-->
                </div>
            </div>
        </div>
    </div>
    <!--kode navigation end-->
</header>


