<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Registrar</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Docente</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Formulario</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">

                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombres</mat-label>
                                            <input matInput type="text" [(ngModel)]="docente.name" required name="name" autofocus name="value">
                                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                              <mat-icon>close</mat-icon>
                                            </button>
                                          </mat-form-field>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Apellidos</mat-label>
                                            <input matInput type="text" [(ngModel)]="docente.lastname"  required name="lastname">
                                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                              <mat-icon>close</mat-icon>
                                            </button>
                                          </mat-form-field>
                                    </div>
                                    <div class="mb-3 mt-2 col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input  type="email" [(ngModel)]="docente.email" name="email" required matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                                              placeholder="pat@example.com">
                                            <mat-hint>¡Los errores aparecen al instante!</mat-hint>
                                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                              Introduce una dirección de correo electrónico válida
                                            </mat-error>
                                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                              Email es <strong>requerido</strong>
                                            </mat-error>
                                          </mat-form-field>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>DNI</mat-label>
                                            <input [(ngModel)]="docente.dni" name="dni" required matInput placeholder="7445" >
                                          </mat-form-field>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Educación</mat-label>
                                            <input [(ngModel)]="docente.education" name="education" required matInput placeholder="Educación" >
                                          </mat-form-field>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Dirección</mat-label>
                                            <input [(ngModel)]="docente.address" name="address"  matInput  >
                                          </mat-form-field>
                                    </div>
                                    <div class="mb-4 mt-3 col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Contraseña</mat-label>
                                            <input [(ngModel)]="docente.password" matInput required type="password" name="password"  [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="passwordFormControl.hasError('required')">
                                              Contraseña es <strong>requerido</strong>
                                            </mat-error>
                                            <mat-hint align="start"><strong>Debe contener caracteres válidos</strong> </mat-hint>
                                            <mat-hint align="end">La contraseña debe ser válida</mat-hint>
                                          </mat-form-field>
                                    </div>
                                    <div class="mb-3 col-md-3">
                                        <label>Sexo</label>
                                        <select class="default-select form-control wide mb-3" style="display: none;">
                                            <option>Masculino</option>
                                            <option>Femenino</option>
                                        </select>
                                    </div>
                                    <div class="mb-4 mt-2 col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Telephone</mat-label>
                                            <span matPrefix>+1 &nbsp;</span>
                                            <input [(ngModel)]="docente.phone" required name="phone" type="tel" matInput placeholder="555-555-1234">
                                            <mat-icon matSuffix>mode_edit</mat-icon>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <button [routerLink]="['/admin/docentes']" type="submit" class="btn btn-rounded btn-info m-2">Cancelar</button>
                                <button (ngSubmit)="registro(registroForm)" type="submit" *ngIf="!docente.id else elseBlock" class="btn btn-rounded btn-danger">Guardar</button>
                                <ng-template #elseBlock>
                                    <button  class="btn btn-rounded btn-warning" type="submit"
                                    (ngSubmit)="update(registroForm)">Editar</button>
                                </ng-template>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>