<div class="kf_inr_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--KF INR BANNER DES Wrap Start-->
                <div class="kf_inr_ban_des">
                    <div class="inr_banner_heading">
                        <h3>Sobre Nosotros</h3>
                    </div>
                   
                    <div class="kf_inr_breadcrumb">
                        <ul>
                            <li><a routerLink="/">INICIO</a></li>
                            <li><a href="#">Sobre Nosotros</a></li>
                        </ul>
                    </div>
                </div>
                <!--KF INR BANNER DES Wrap End-->
            </div>
        </div>
    </div>
</div>

<!--Banner Wrap End-->

<!--Content Wrap Start-->
<div class="kf_content_wrap">
            
    <!--ABOUT UNIVERSITY START-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="abt_univ_wrap">
                        <!-- HEADING 1 START-->
                        <div class="kf_edu2_heading1">
                            <h5>Sobre Nuestra Institución</h5>
                            <h3>BIENVENIDOS A LA I.E.P. ARAS</h3>
                        </div>
                        <!-- HEADING 1 END-->
                       
                        <div class="abt_univ_des">
                  
                            <span>ALBERTO RUBENS ALTUNA SOLÓRZANO</span>
                            <p>El camino de compartir el conocimiento a través de una moderna enseñanza inicia con el ideal de un profesional dedicado toda su vida al servicio de la educación, profesor Jorge Isaac Ávila Cisneros, director del IESPP “JFSC”, quien en coordinación con el profesor Víctor Ayala Sánchez inician los trámites documentarios con la UGEL/SC en el segundo semestre del año 2014.</p>
                            <p>En sus comienzos, los lineamientos administrativos giraban en torno a un Nuevo Centro de Aplicación que administrara la casa superior de estudios “José Faustino Sánchez Carrión”; sin embargo, por decisión del titular de la Gerencia Regional de Educación La Libertad, dispone que, para la creación de la nueva Institución Educativa, el promotor no debe ser el Instituto; es así que se forma la Asociación Educativa Cultural y Deportiva “Alberto Rubens Altuna Solórzano” sin fines de lucro.</p>
                            <div id="collapseExample" class="collapse">
                                <div class="card card-body">
                                    <p>Quien sería el promotor de nuestra institución, conformado en sus inicios de la siguiente manera:</p>
                                    <p>PRESIDENTE		: 	RUFINO RODRIGUEZ ROMAN</p>
                                    <p>VICEPRESIDENTE	:	FELIPA FILOMENA CALDERÓN VEGA</p>
                                    <P>SECRETARIA		:	JORGE ÁVILA CISNEROS </P>
                                    <p>La Institución Educativa formalmente viene prestando servicios en mérito de la Resolución Gerencial Regional Nº 4420 de fecha 18 de setiembre de 2015, fruto de un esfuerzo mancomunado de integrantes de la asociación, docentes, padres de familia y estudiantes, designando como director al profesor Noé Gregorio JULCA SIFUENTES.</p>
                                </div>
                            </div>
                            <p><a class="btn btn-3" data-toggle="collapse" href="#collapseExample">INFORMACIÓN</a> </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div >
                        <figure>
                            <img src="assets/extra-images/abt-thumb.jpg" alt=""/>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--ABOUT UNIVERSITY END-->

    <!--COUNTER SECTION START-->
    <section class="edu2_counter_wrap">
        <div class="container">
            <!--EDU2 COUNTER DES START-->
            <div class="edu2_counter_des">
                <span><i class="icon-group2"></i></span>
                <h3 class="counter">4,985</h3>
                <h5>SEGUIDORES</h5>
            </div>
            <!--EDU2 COUNTER DES END-->
            <!--EDU2 COUNTER DES START-->
            <div class="edu2_counter_des">
                <span><i class="icon-book236"></i></span>
                <h3 class="counter">14</h3>
                <h5>CURSOS COMPLETOS</h5>
            </div>
            <!--EDU2 COUNTER DES END-->
            <!--EDU2 COUNTER DES START-->
            <div class="edu2_counter_des">
                <span><i class="icon-win5"></i></span>
                <h3 class="counter">330</h3>
                <h5>ALUMNOS MATRICULADOS</h5>
            </div>
            <!--EDU2 COUNTER DES END-->
            <!--EDU2 COUNTER DES START-->
            <div class="edu2_counter_des">
                <span><i class="icon-user255"></i></span>
                <h3 class="counter">27</h3>
                <h5>DOCENTES CERTIFICADOS</h5>
            </div>
            <!--EDU2 COUNTER DES END-->
        </div>
    </section>
    <!--COUNTER SECTION END-->

    <!--KF INTRO WRAP START-->
    <section class="abut-padiing">
        <div class="kf_intro_des_wrap aboutus_page">
            <div class="container">
                <div class="row">
                    <!-- HEADING 2 START-->
                    <div class="col-md-12">
                        <div class="kf_edu2_heading2">
                            <h3>NUESTROS CURSOS</h3>
                        </div>
                    </div>
                    <!-- HEADING 2 END-->

                    <div class="col-md-3 col-sm-6">
                        <!-- INTERO DES START-->
                        <div class="kf_intro_des">
                            <div class="kf_intro_des_caption">
                                <span><i class=" icon-earth132 "></i></span>
                                <h6>EDUCACIÓN 3.0</h6>
                                <p>Aprendizaje personalizado, colaborativo y en red, donde los estudiantes son los protagonistas de su propio proceso de aprendizaje. </p>
                            </div>
                        </div>
                        <!-- INTERO DES END-->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <!-- INTERO DES START-->
                        <div class="kf_intro_des">
                            <div class="kf_intro_des_caption">
                                <span><i class=" icon-educational18"></i></span>
                                <h6>DESING THINKING</h6>
                                <p>Descubrimiento, interpretación, ideación, experimentación y evolución.El desafío debe ser abordable, comprensible y realizable.</p>
                            </div>
                        </div>
                        <!-- INTERO DES END-->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <!-- INTERO DES START-->
                        <div class="kf_intro_des">
                            <div class="kf_intro_des_caption">
                                <span><i class="icon-teacher4"></i></span>
                                <h6>MÉTODO SINGAPUR</h6>
                                <p>Metodología centrada en el aprendizaje de las matemáticas que busca cambiar la forma de enseñar tradicional por un nuevo método</p>
                            </div>
                        </div>
                        <!-- INTERO DES END-->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <!-- INTERO DES START-->
                        <div class="kf_intro_des">
                            <div class="kf_intro_des_caption">
                                <span><i class="fa fa-globe"></i></span>
                                <h6>MÉTODO MONTESSORRI</h6>
                                <p>Permitir que los niños exploren, satisfagan su innata curiosidad y darles libertad para que descubran el mundo a partir de sus propias experiencias.</p>
                            </div>
                        </div>
                        <!-- INTERO DES END-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--KF INTRO WRAP END-->

    <!--KF EDUCATION STUDENT SLIDER WRAP START-->
    <section class="edu_student_wrap_bg">
        <div class="container">
            <div class="student_slider_wrap">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="bxslider">
                            <li>
                                <!-- STUDENT SLIDER DES START-->
                                <div class="student_slider_des">
                                    <!-- HEADING 1 START-->
                                    <div class="kf_edu2_heading1">
                                        <h3>VISIÓN</h3>
                                    </div>
                                    <!-- HEADING 1 END-->
                                    <p>La I.E.P. “ARAS” al 2025, es líder en calidad educativa demostrando responsabilidad, trabajo y amor al prójimo; promoviendo la cultura de prevención de riesgo, cuidado del ambiente y la inclusión; con docentes innovadores que logran aprendizajes significativos en sus estudiantes para que ejerzan la ciudadanía e impulsen el desarrollo de su comunidad y nación dentro del marco de una convivencia democrática y armoniosa.</p>
                                </div>
                                <!-- STUDENT SLIDER DES END-->
                            </li>

                            <li>
                                <!-- STUDENT SLIDER DES START-->
                                <div class="student_slider_des">
                                    <!-- HEADING 1 START-->
                                    <div class="kf_edu2_heading1">
                                        <h3>MISIÓN</h3>
                                    </div>
                                    <!-- HEADING 1 END-->
                                    <p>La Institución Educativa Particular “ARAS” ofrece a los estudiantes una educación integral de calidad, promueve el desarrollo de sus habilidades para su progreso personal, impulsa la práctica de valores, el cuidado del ambiente y la gestión para riesgos de desastre con el propósito de lograr una sociedad digna, inclusiva, justa y armoniosa.</p>
                                </div>
                                <!-- STUDENT SLIDER DES END-->
                            </li>

                            <li>
                                <!-- STUDENT SLIDER DES START-->
                                <div class="student_slider_des">
                                    <!-- HEADING 1 START-->
                                    <div class="kf_edu2_heading1">
                                        <h3>PRINCIPIOS</h3>
                                    </div>
                                    <!-- HEADING 1 END-->
                                    <p>Una educación en valores que enfatice perseveranciaUna Educación innovadora.</p>
                                    <p>Una educación en valores que enfatice perseveranciaUna Educación para el pensamiento crítico.</p>
                                    <p>Una educación en valores que enfatice perseveranciaUna educación para desarrollar liderazgo.</p>
                                    <p>Una educación en valores que enfatice perseveranciaUna educación en valores que enfatice perseverancia</p>
                                </div>
                                <!-- STUDENT SLIDER DES END-->
                            </li>

                            <li>
                                <!-- STUDENT SLIDER DES START-->
                                <div class="student_slider_des">
                                    <!-- HEADING 1 START-->
                                    <div class="kf_edu2_heading1">
                                        <h3>VALORES</h3>
                                    </div>
                                    <!-- HEADING 1 END-->
                                    <!-- On tables -->
                                        <p>PERSEVERANCIA    : Aquello que está propuesto a alcanzar en momentos que uno se propone, es un esfuerzo continuo, es un valor fundamental en la vida para obtener un resultado concreto. </p>
                                        <p>RESPONSABILIDAD	: Valor fundamental que involucra el cumplimiento de los deberes de todos los agentes educativos de manera eficiente.</p>
                                        <p>IDENTIDAD	    : Reconocimiento de su institución, participación permanente y con buenos resultados en las diversas competencias a nivel local y provincial, con disciplina y puntualidad.</p>
                                        <p>SOLIDARIDAD	    : Valor que permite orientar desde la práctica la ayuda mutua tomando como punto de partida la autoestima.</p>
                                        <p>DISCIPLINA	    : Convención de reglas emitidas por la institución, las cuales están orientadas a controlar el comportamiento, para mantener el orden y el respeto entre los miembros de la institución.</p>
                                    </div>
                                <!-- STUDENT SLIDER DES END-->
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <!-- STUDENT SLIDER THUMB DES START-->
                        <div class="student_slider_thumb">
                            <div class="row">
                                <div id="bx-pager">
                                    <div class="col-md-6 col-sm-3">
                                        <a data-slide-index="0" href=""><img src="assets/extra-images/student-1.jpg" alt="#" /></a>
                                    </div>

                                    <div class="col-md-6 col-sm-3">
                                        <a data-slide-index="1" href=""><img src="assets/extra-images/student-2.jpg" alt="#" /></a>
                                    </div>

                                    <div class="col-md-6 col-sm-3">
                                        <a data-slide-index="2" href=""><img src="assets/extra-images/student-3.jpg" alt="#" /></a>
                                    </div>
                                    <div class="col-md-6 col-sm-3">
                                        <a data-slide-index="3" href=""><img src="assets/extra-images/student-4.jpg" alt="#" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- STUDENT SLIDER THUMB DES END-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--KF EDUCATION STUDENT SLIDER WRAP END-->
</div>

