<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Registrar</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Alumno</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Formulario</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form>

                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Nombres</label>
                                        <input type="text" class="form-control" placeholder="name">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Apellidos</label>
                                        <input type="text" class="form-control" placeholder="lastname">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" placeholder="correo@ejemplo.com">
                                    </div>
                                    <div class="mb-3 col-md-2">
                                        <label class="form-label">DNI</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <!--<div class="mb-3 col-md-6">
                                        <label class="form-label">Password</label>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>-->
                                    <div class="mb-3 col-md-6">
                                        <label>Dirección</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label>Apoderado</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>