<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Registrar</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Alumno</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Formulario</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Nombres</label>
                                        <input [(ngModel)]="alumno.name" name="name" required type="text" class="form-control" placeholder="name">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Apellidos</label>
                                        <input  [(ngModel)]="alumno.lastname" name="lastname" required type="text" class="form-control" placeholder="lastname">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Email</label>
                                        <input  [(ngModel)]="alumno.email" name="email" type="email" class="form-control" placeholder="correo@ejemplo.com">
                                    </div>
                                    <div class="mb-3 col-md-2">
                                        <label class="form-label">DNI</label>
                                        <input  [(ngModel)]="alumno.dni" name="dni" required type="text" class="form-control">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Teléfono</label>
                                        <input  [(ngModel)]="alumno.phone" name="phone" type="number" class="form-control" placeholder="telefono">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label>Dirección</label>
                                        <input [(ngModel)]="alumno.address" name="address" required type="text" class="form-control">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label>Apoderado</label>
                                        <input [(ngModel)]="alumno.father" name="father"  type="text" class="form-control">
                                    </div>
                                </div>
                                <button [routerLink]="['/admin/alumnos']" type="submit" class="btn btn-rounded btn-info m-2">Cancelar</button>
                                <button (ngSubmit)="registro(registroForm)" type="submit" *ngIf="!alumno.id else elseBlock" class="btn btn-rounded btn-danger">Guardar</button>
                                <ng-template #elseBlock>
                                    <button  class="btn btn-rounded btn-warning" type="submit"
                                    (ngSubmit)="update(registroForm)">Editar</button>
                                </ng-template>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>