<div class="kf_inr_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--KF INR BANNER DES Wrap Start-->
                <div class="kf_inr_ban_des">
                    <div class="inr_banner_heading">
                        <h3>NUESTROS DOCENTES</h3>
                    </div>
                   
                    <div class="kf_inr_breadcrumb">
                        <ul>
                            <li><a routerLink="/">Inicio</a></li>
                            <li><a >NUESTROS DOCENTES</a></li>
                        </ul>
                    </div>
                </div>
                <!--KF INR BANNER DES Wrap End-->
            </div>
        </div>
    </div>
</div>

<!--Banner Wrap End-->

<!--Content Wrap Start-->
<div class="kf_content_wrap">
    <section class="edu2_teachers_page">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb1.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">Elisa Maday Laiza Ramos </a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb2.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">Wendy Carolina Baltodano Paredes</a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb3.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">JUANA CAROLINA CALDERON MARINO</a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb4.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">MIRIAN ROXANA MARQUINA ROJAS</a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb5.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">KELLY YESSENIA VERA REYES</a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb6.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">JUAREZ RUIZ, LUDI</a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb7.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">KATHERINE KATIA GERÓNIMO PALOMINO </a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb8.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">NADIA FERNANDA SOTOMAYOR NUREÑA </a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb9.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">YUSSIN XIOMARA CHINININ VEGA</a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb10.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">SANTOS VASQUEZ VALDERRAMA</a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb11.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#"> </a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- FACULTY DES START-->
                    <div class="edu2_faculty_des">
                        <figure><img src="assets/extra-images/faculty-mb12.jpg" alt=""/>
                            <figcaption>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </figcaption>
                        </figure>
                        <div class="edu2_faculty_des2">
                            <h6><a href="#">MAURA ELIZABETH ARANDA GONGORA  </a></h6>
                            <strong>Health Teacher</strong>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                        </div>
                    </div>
                    <!-- FACULTY DES END-->
                </div>
                
                <div id="collapseExample" class="collapse">
                    <div class="card card-body">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <!-- FACULTY DES START-->
                            <div class="edu2_faculty_des">
                                <figure><img src="assets/extra-images/faculty-mb13.jpg" alt=""/>
                                    <figcaption>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="edu2_faculty_des2">
                                    <h6><a href="#">MEDINA CAMPOS HEBER</a></h6>
                                    <strong>Health Teacher</strong>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                                </div>
                            </div>
                            <!-- FACULTY DES END-->
                        </div>
        
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <!-- FACULTY DES START-->
                            <div class="edu2_faculty_des">
                                <figure><img src="assets/extra-images/faculty-mb14.jpg" alt=""/>
                                    <figcaption>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="edu2_faculty_des2">
                                    <h6><a href="#">LUIS MIGUEL TORRES PALOMINO</a></h6>
                                    <strong>Health Teacher</strong>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                                </div>
                            </div>
                            <!-- FACULTY DES END-->
                        </div>
        
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <!-- FACULTY DES START-->
                            <div class="edu2_faculty_des">
                                <figure><img src="assets/extra-images/faculty-mb15.jpg" alt=""/>
                                    <figcaption>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="edu2_faculty_des2">
                                    <h6><a href="#">ANA LUCIA REYES VILLALOBOS</a></h6>
                                    <strong>Health Teacher</strong>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                                </div>
                            </div>
                            <!-- FACULTY DES END-->
                        </div>
        
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <!-- FACULTY DES START-->
                            <div class="edu2_faculty_des">
                                <figure><img src="assets/extra-images/faculty-mb16.jpg" alt=""/>
                                    <figcaption>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="edu2_faculty_des2">
                                    <h6><a href="#">Simon Grishaber</a></h6>
                                    <strong>Health Teacher</strong>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                                </div>
                            </div>
                            <!-- FACULTY DES END-->
                        </div>
        
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <!-- FACULTY DES START-->
                            <div class="edu2_faculty_des">
                                <figure><img src="assets/extra-images/faculty-mb17.jpg" alt=""/>
                                    <figcaption>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="edu2_faculty_des2">
                                    <h6><a href="#">PIZAN QUISPE ABNER </a></h6>
                                    <strong>Health Teacher</strong>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                                </div>
                            </div>
                            <!-- FACULTY DES END-->
                        </div>
        
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <!-- FACULTY DES START-->
                            <div class="edu2_faculty_des">
                                <figure><img src="assets/extra-images/faculty-mb18.jpg" alt=""/>
                                    <figcaption>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="edu2_faculty_des2">
                                    <h6><a href="#">NOÉ GREGORIO JULCA SIFUENTES </a></h6>
                                    <strong>Health Teacher</strong>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                                </div>
                            </div>
                            <!-- FACULTY DES END-->
                        </div>
        
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <!-- FACULTY DES START-->
                            <div class="edu2_faculty_des">
                                <figure><img src="assets/extra-images/faculty-mb19.jpg" alt=""/>
                                    <figcaption>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="edu2_faculty_des2">
                                    <h6><a href="#">VASEZA KATHERINE VILCHES LOPEZ</a></h6>
                                    <strong>Health Teacher</strong>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                                </div>
                            </div>
                            <!-- FACULTY DES END-->
                        </div>
        
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <!-- FACULTY DES START-->
                            <div class="edu2_faculty_des">
                                <figure><img src="assets/extra-images/faculty-mb20.jpg" alt=""/>
                                    <figcaption>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="edu2_faculty_des2">
                                    <h6><a href="#">JOSE EDUARDO URBINA GUERRERO</a></h6>
                                    <strong>Health Teacher</strong>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh...</p>
                                </div>
                            </div>
                            <!-- FACULTY DES END-->
                        </div>
        
                    </div>
                </div>
                <p><a class="btn btn-3" data-toggle="collapse" href="#collapseExample">VER MAS</a> </p>
            </div>
        </div>
    </section>
</div>
