<app-detalle-docentes *ngIf="docenteSeleccionado" [docente]="docenteSeleccionado"></app-detalle-docentes>
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Tabla</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Docentes</a></li>
            </ol>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Todos los Docentes</h4>
                        <button [routerLink]="'/admin/doc/create'">
                            <mat-icon>group_add</mat-icon>
                        </button>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example2" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>DNI</th>
                                        <th>Email</th>
                                        <th>Telefono</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="users">
                                    <tr *ngFor="let docente of users">
                                        <td>{{docente.name}}</td>
                                        <td>{{docente.lastname}}</td>
                                        <td>{{docente.dni}}</td>
                                        <td>{{docente.email}}</td>
                                        <td>{{docente.phone}}</td>
                                        <td>
                                            <span>
                                                <a [routerLink]="['/admin/docentes/edit', docente.id]" class="me-4"
                                                    data-bs-toggle="tooltip" data-placement="top" title="Edit"><i
                                                        class="fas fa-pencil-alt color-muted"></i> </a>
                                                <a (click)="delete(docente)" data-bs-toggle="tooltip"
                                                    data-placement="top" title="btn-close"><i
                                                        class="fas fa-times color-danger" style="cursor: pointer;"></i></a>
                                                <img *ngIf="docente?.photo"
                                                    src="http://localhost:8080/api/upload/img/{{docente.photo}}"
                                                    (click)="abrirModal(docente)" style="cursor: pointer;"
                                                    class="card-img-top image m-4" alt="No photo">
                                                <img *ngIf="!docente?.photo" (click)="abrirModal(docente)"
                                                 src="http://localhost:8080/images/no-image.jpg"
                                                    style="cursor: pointer;" class=" image card-img-top m-4" alt="Sin foto">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>