<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Registro</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Curso</a></li>
            </ol>
        </div>
        <mat-card>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
                        <mat-form-field class="mt-5 mr-2" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input [(ngModel)]="course.name" type="text" name="name" required
                                placeholder="Digite el nombre" matInput>
                        </mat-form-field>
                        <mat-form-field class="mt-5" appearance="fill">
                            <mat-label>Descripción</mat-label>
                            <input [(ngModel)]="course.description" type="text" name="description" required
                                placeholder="Digite el título" matInput>
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Créditos</mat-label>
                                    <input [(ngModel)]="course.credits" type="number" required name="credits" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Horas</mat-label>
                                    <input [(ngModel)]="course.hours" type="number" required name="hours" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field class="mt-5" appearance="fill">
                            <mat-label>Semestre</mat-label>
                            <input [(ngModel)]="course.semester" type="number" name="semester" required
                                placeholder="Digite el título" matInput >
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Grado</mat-label>
                            <mat-select [(ngModel)]="course.degrees" name="degrees" [formControl]="toppings" multiple
                                required>
                                <mat-option *ngFor="let degree of degrees"
                                    [value]="degree">{{degree.name}}</mat-option>
                                <mat-select-trigger>
                                    {{toppings.value?.[0] || ''}}
                                    <span *ngIf="(toppings.value?.length || 0) > 1"
                                        class="example-additional-selection">
                                        (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other'
                                        : 'others'}})
                                    </span>
                                </mat-select-trigger>
                            </mat-select>
                        </mat-form-field>

                        <div class="container text-center mt-5">
                            <button mat-flat-button color="primary" class="m-2"
                                [routerLink]="['/admin/courseCrud']">Atrás</button>
                            <button mat-raised-button color="primary" type="submit"
                                *ngIf="!course.id else elseBlock">Guardar</button>

                            <ng-template #elseBlock>
                                <button mat-raised-button color="primary" class="ml10"
                                    (ngSubmit)="registro(registroForm)">Editar</button>
                            </ng-template>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>

    </div>
</div>