<div class="content-body" style="margin-left: 40px;">
  <div class="container-fluid">
    <div class="row page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Bienvenido</a></li>
        <!--<li class="breadcrumb-item"><a href="javascript:void(0)">Alumno</a></li>-->
      </ol>
    </div>
    <mat-card class="mt-20">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <mat-card-header>
              <mat-card-title>
                Bienvenido administrador
              </mat-card-title>
            </mat-card-header>
            <mat-card-subtitle>Panel de administrador</mat-card-subtitle>
            <mat-card-content class="ml30">
              <h1></h1>
              <p></p>
              <mat-divider></mat-divider>
              <br>
              <h1>Sus funciones : </h1>
              <ul>
                <li>Gestionar crud de Proyectos</li>
                <li>Gestionar crud de Posts</li>
                <li>Gestionar Etiquetas</li>
                <li>Dar mantenimiento a la pagina</li>
                <li>Brindar un excelente servicio</li>
              </ul>
              <mat-divider></mat-divider>
              <br>
            </mat-card-content>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>